#root {
	--main-bg-color:rgb(46, 46, 46);
	--main-fg-color: White;
	--main-text-color: lightgrey;
	--main-border-color: black;
	--secondary-border-color: rgb(211, 73, 73);
	color: var(--main-text-color);
	background: var(--main-bg-color);
}

.app-wrapper{
	/* min-height: 950px; */
	max-height: 1024px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid var(--secondary-border-color);
}

.nav-bar {
	margin-top: 5px;
	min-height: 75px;
	border: 2px solid var(--main-border-color);
	border-radius: 10px;
}

/*  Cards  Panel */
.cards-panel {
	overflow-y: scroll;
  display: flex;
  justify-content: center;
	margin: 0px;
	padding-top: 10px;
	border: 2px solid var(--main-border-color);
	background: var(--main-bg-color);
	border-radius: 10px;
	max-height: 660px;
}

.card-container {
	margin-top: 5px;
}

*{
	-ms-overflow-style: none;
}

.card-col.col{
	display: flex;
  align-items: center;
  justify-content: center;
	padding: 0px 0px;
	width: auto;
	height: auto;
	margin-top:5px;
}

img {
	max-width:auto;
	height:auto;
}


::-webkit-scrollbar {
	display: none;
}

/* Submission panel */
.submission-panel{
	color: var(--main-text-color);
	text-align: center;
	padding-top: 10px;
	border-radius: 10px;
	border: 2px solid var(--main-border-color);
}


.react-date-picker{
	margin-bottom: 5px;
	color: var(--main-text-color);
}

.CheckedStuffiesContainer{
	margin-top: 10px;
	min-height: 400px;
	max-height: 400px;
	overflow-y: scroll;

	background-color: rgb(100, 100, 100);
	border: 2px solid black;
	border-radius: 5px;
	padding: 1px;
}

/* Footer */
.footer {
	max-height: 50px;
	border: 2px solid var(--main-border-color);
	border-radius: 10px;
}

